# Copy this file to terraform.tfvars and adjust locally.
# Do not commit terraform.tfvars.

cluster_name = "homelab"

proxmox_endpoint     = "https://10.0.1.12:8006/"
proxmox_insecure     = true
proxmox_ssh_enabled  = false
proxmox_ssh_agent    = true
proxmox_ssh_username = null

manage_apt_repositories = true

nfs_storages = {
  nas_media = {
    export        = "/volume1/media"
    content_types = ["images", "iso", "vztmpl", "backup", "snippets"]
    nodes         = ["pepper", "salt"]
  }
}

pbs = {
  endpoint  = "10.0.1.20"
  datastore = "pbs-main"
}

pbs_vm = {
  enabled                 = true
  name                    = "pbs01"
  vm_id                   = 120
  node_name               = "pepper"
  ipv4_address            = "10.0.1.20/24"
  ipv4_gateway            = "10.0.1.1"
  dns_servers             = ["10.0.1.1"]
  bridge                  = "vmbr0"
  image_url               = "https://cloud.debian.org/images/cloud/trixie/latest/debian-13-genericcloud-amd64.qcow2"
  image_file_name         = "debian-13-genericcloud-amd64.qcow2"
  image_datastore_id      = "local"
  image_download_timeout  = 1800
  disk_datastore_id       = "local-lvm"
  cloud_init_datastore_id = "local-lvm"
  disk_size               = 32
  cores                   = 2
  memory_mb               = 4096
  cpu_type                = "x86-64-v2-AES"
  ssh_username            = "debian"
  ssh_public_key_path     = "~/.ssh/id_ed25519.pub"
  tags                    = ["terraform", "core", "pbs"]
}

docker_vm = {
  enabled                 = true
  name                    = "docker01"
  vm_id                   = 121
  node_name               = "pepper"
  ipv4_address            = "10.0.1.21/24"
  ipv4_gateway            = "10.0.1.1"
  dns_servers             = ["10.0.1.1"]
  bridge                  = "vmbr0"
  image_url               = "https://cloud.debian.org/images/cloud/trixie/latest/debian-13-genericcloud-amd64.qcow2"
  image_file_name         = "docker01-debian-13-genericcloud-amd64.qcow2"
  image_datastore_id      = "local"
  image_download_timeout  = 1800
  disk_datastore_id       = "local-lvm"
  cloud_init_datastore_id = "local-lvm"
  disk_size               = 64
  cores                   = 4
  memory_mb               = 8192
  cpu_type                = "x86-64-v2-AES"
  ssh_username            = "debian"
  ssh_public_key_path     = "~/.ssh/id_ed25519.pub"
  tags                    = ["terraform", "workload", "docker"]
}

workload_ip_start = "10.0.1.22"
workload_id_start = 122
