Types: deb
URIs: {{ jellyfin_repository_uri }}
Suites: {{ jellyfin_repository_suite }}
Components: {{ jellyfin_repository_components }}
Architectures: {{ jellyfin_repository_architecture }}
Signed-By: {{ jellyfin_repository_keyring_path }}
