---
title: {{ docker_homepage_title | quote }}
description: {{ docker_homepage_description | quote }}
theme: dark
color: slate
language: en
target: _blank
statusStyle: dot
showStats: true
hideVersion: true
disableCollapse: true
layout:
  Media:
    style: row
    columns: 4
  Infrastructure:
    style: row
    columns: 6
